.padtwice {
  padding-left: 5%;
  padding-right: 5%; }

.link-image {
  position: relative;
  max-width: 364px; }

.blog-box {
  padding-left: 5%; }

.btnsaber {
  border: 1px solid white;
  color: white;
  width: 131px;
  height: 33px;
  font-size: 0.75rem;
  letter-spacing: 0.22rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 58%;
  left: 30%; }
  .btnsaber:hover {
    text-decoration: none;
    color: white !important; }

.postImg {
  background-color: rgba(255, 255, 255, 0.5); }

.titulocurso1 {
  color: white;
  position: absolute;
  top: 25%;
  width: 100%; }

.titulo1 {
  text-align: center;
  margin-top: 95px;
  letter-spacing: 0.22rem;
  line-height: 1.9725rem;
  font-size: 1.875rem; }

.subtitulo1 {
  text-align: center;
  margin-top: 27.18px;
  margin-bottom: 42px;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  font-size: 1.375rem;
  color: #9c9c9c; }

.parrcurso1 {
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 0.875rem;
  position: absolute;
  top: 47%;
  width: 100%; }

.elemento-imagen img {
  height: auto;
  max-width: 155px;
  vertical-align: middle;
  display: inline-block; }

@media (max-width: 480px) {
  .hacemos {
    height: 100%; }

  .blog-box {
    padding-left: 1%; }

  .titulocurso1 {
    top: 14%; }

  .parrcurso1 {
    top: 39%; }

  .btnsaber {
    top: 59%;
    left: 29%; } }
@media (max-width: 768px) {
  .hacemos {
    height: 100%; } }
@media (min-width: 1024px) {
  .hacemos {
    height: 732px; } }
@media (min-width: 1366px) {
  .hacemos {
    height: 732px; } }

/*# sourceMappingURL=stilohacer.css.map */
