.estudia {
  min-height: 473px;
  background-image: url("../imagenes/fondo2.jpg");
  background-size: cover;
  background-position: center; }

.textostudia {
  color: white;
  padding-top: 129px; }
  .textostudia a {
    text-decoration: none; }

p.titulo {
  font-size: 2.123125rem;
  line-height: 1.97rem;
  letter-spacing: 0.22rem; }

p.subtitulo {
  font-size: 0.935625rem;
  line-height: 1.99rem;
  letter-spacing: 0.05rem;
  padding-bottom: 59px; }

a.inscribir2 {
  background-color: rgba(189, 150, 61, 0.6);
  border: 2px solid #ccb434;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  color: white; }
  a.inscribir2:hover {
    color: black; }

/*# sourceMappingURL=stilostudia.css.map */
