.tituloPrincipal {
  margin-top: 42.70px;
  text-align: center;
  color: white; }

.mensaje {
  color: white; }

.largeinput {
  margin-bottom: 71px; }

img {
  max-width: 100%; }

.navresp {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 22px 12px;
  z-index: 2;
  letter-spacing: 2px; }
  .navresp li a {
    padding-right: 0px;
    color: white; }
  .navresp li a:hover {
    padding-right: 0px;
    color: #be983e; }
  .navresp li.inscribir a:hover {
    color: black;
    text-decoration: none; }

.menu-desplegable .row .fb_closebutton {
  position: absolute;
  left: 0;
  margin: 10px;
  color: #EDB101;
  background-color: transparent;
  border-color: black; }

.menu-desplegable .row .login {
  position: absolute;
  right: 0px;
  margin: 15px;
  color: #EDB101;
  background-color: transparent; }

.menu-desplegable {
  position: fixed;
  height: 626px;
  width: 80%;
  right: -100%;
  background-color: black;
  z-index: 9999999;
  transition: .3s ease;
  top: 0;
  overflow-y: scroll; }

.menu-mostrar {
  right: 0%; }

.imagen_negro {
  text-align: center;
  color: #fff;
  font-size: 50px !important;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 100%;
  margin-bottom: 20px; }

.menubotondesp {
  text-align: -webkit-center;
  text-align: -o-center; }

.menubotondesp a {
  border: 1px solid white;
  padding-right: 15px;
  padding-left: 15px;
  width: 83%;
  text-align: center; }

.menudeco {
  padding-top: 5px;
  padding-bottom: 5px; }

.padtop {
  padding-top: 0.5rem; }

.espacios {
  padding: 25px; }

@media (max-width: 480px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  #menu-desktop {
    display: none; }

  .menu-movile {
    display: inline-flex !important;
    position: relative;
    left: 54% !important;
    background-color: #cba851;
    color: white;
    font-size: 15px;
    width: 45px;
    height: 40px;
    justify-content: center;
    border-radius: 0px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .barImagen {
    padding-top: 15px; }

  .imgposition {
    width: 270px; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .menu-desplegable {
    position: fixed;
    height: 626px;
    width: 317px;
    right: -100%;
    background-color: black;
    z-index: 9999999;
    transition: .3s ease;
    top: 0;
    overflow-y: scroll; }

  .menu-mostrar {
    right: 0px; } }
@media (min-width: 481px) and (max-width: 600px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  #menu-desktop {
    display: none; }

  .menu-movile {
    display: inline-flex !important;
    position: relative;
    left: 67% !important;
    background-color: #cba851;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 40px;
    justify-content: center;
    border-radius: 0px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .barImagen {
    padding-top: 15px; }

  .imgposition {
    width: 270px; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .navresp {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 22px 12px;
    z-index: 2;
    letter-spacing: 2px; }
    .navresp li a {
      padding-right: 0px;
      color: white; }
    .navresp li a:hover {
      padding-right: 0px;
      color: #be983e; }
    .navresp li.inscribir a:hover {
      color: black;
      text-decoration: none; } }
@media (max-width: 768px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  #menu-desktop {
    display: none; }

  .menu-movile {
    display: inline-flex !important;
    position: relative;
    left: 72%;
    background-color: #cba851;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 40px;
    justify-content: center;
    border-radius: 0px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .barImagen {
    padding-top: 15px; }

  .imgposition {
    width: 270px; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .navresp {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 22px 12px;
    z-index: 2;
    letter-spacing: 2px; }
    .navresp li a {
      padding-right: 0px;
      color: white; }
    .navresp li a:hover {
      padding-right: 0px;
      color: #be983e; }
    .navresp li.inscribir a:hover {
      color: black;
      text-decoration: none; } }
@media (min-width: 769px) and (max-width: 1023px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  #menu-desktop {
    display: none; }

  .menu-movile {
    display: inline-flex !important;
    position: relative;
    left: 79%;
    background-color: #cba851;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 40px;
    justify-content: center;
    border-radius: 0px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .barImagen {
    padding-top: 15px; }

  .imgposition {
    width: 270px; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .navresp {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 22px 12px;
    z-index: 2;
    letter-spacing: 2px; }
    .navresp li a {
      padding-right: 0px;
      color: white; }
    .navresp li a:hover {
      padding-right: 0px;
      color: #be983e; }
    .navresp li.inscribir a:hover {
      color: black;
      text-decoration: none; } }
@media (min-width: 1024px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  .botton-u {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 32.5px;
    margin-left: 20px; }
    .botton-u i {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: #be983e; }
    .botton-u i:hover {
      color: white; }

  #navbarSupportedContent {
    position: absolute;
    left: 10%;
    top: 0.1%; }

  .barImagen {
    padding-top: 15px; }

  .pull-right {
    float: right; }

  .botton {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 32.5px;
    margin-left: 54px; }
    .botton i {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: white; }
    .botton i:hover {
      color: #be983e; }

  .menu-movile {
    display: none; }

  .navpc {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 22px 12px;
    z-index: 2;
    letter-spacing: 2px; }
    .navpc li a {
      padding-right: 0px;
      color: white; }
    .navpc li a:hover {
      padding-right: 0px;
      color: #be983e; }
    .navpc li.inscribir a:hover {
      color: black;
      text-decoration: none; }

  .allbuttom a {
    padding-left: 25px; }

  div#portadasMenu {
    min-height: 90px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .bottonU {
    position: absolute;
    height: 100%;
    width: 100%; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .imgposition {
    width: 270px; }

  .position {
    padding: 10px; }

  .positionform {
    margin-top: 50px; }

  .tituloPrincipal {
    margin-top: 42.70px;
    text-align: center;
    color: white; }

  input[type="text"] {
    opacity: 0.6;
    border-radius: 0px !important; }

  button[type="submit"] {
    background-color: white;
    color: #2f2f2f;
    font-weight: 400;
    border-radius: 0px; }
    button[type="submit"]:hover {
      background-color: colorDarkHover;
      color: white;
      font-weight: 400; }

  .cabezera {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-right: 1.2rem; }

  .cabezera .cerrado {
    padding: 0rem;
    margin: -1rem -1rem -1rem auto; }

  button.cerrado {
    background-color: black;
    border: 0;
    padding: 0px;
    color: white;
    width: 20px;
    height: 20px; }

  .stilod {
    color: #be983e;
    letter-spacing: 0.22rem;
    font-size: 30px !important;
    font-weight: 400; }

  .stilopd {
    color: #202020 !important;
    letter-spacing: .1rem;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    padding-left: 55px !important;
    padding-right: 55px !important; }

  .colum-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%; }

  .colum2-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 5px;
    flex: 0 0 50%;
    max-width: 50%; }

  .inputsd {
    background-color: #d1d1d1;
    border: 0px;
    padding-left: 27px;
    font-weight: 400;
    position: relative;
    color: #595959 !important; }

  .butttond {
    background-color: #be983e !important;
    color: white !important;
    position: relative !important;
    width: 114px;
    height: 47px;
    margin-bottom: 1.2rem; }

  a.linkdial {
    color: black;
    text-decoration: underline; }

  .anchod {
    width: 645.33px; }

  .dimensiond {
    height: 125px; }

  .sph {
    height: 0px; }

  .desplegable {
    position: fixed;
    height: 626px;
    width: 317px;
    right: -418px;
    background-color: black;
    z-index: 9999999;
    transition: .3s ease;
    top: 0;
    overflow-y: scroll; }

  .mostrar {
    right: -18px; }

  .icon {
    margin: 0 8px; }

  .icon a {
    border: 1px solid #717171;
    background-color: #717171;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    border-radius: 50%;
    color: black; }
    .icon a:hover {
      border: 1px solid white;
      background-color: white;
      color: black; }

  .texto {
    color: #717171;
    text-align: justify;
    padding: 25px; }

  .pad {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .pad2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px; }

  .color {
    color: white; }

  .textlink {
    text-decoration: none;
    color: #717171;
    padding-left: 5px; }
    .textlink:hover {
      text-decoration: none;
      color: #717171;
      padding-left: 5px; }

  .textbutton {
    text-decoration: none;
    border: 3px solid white;
    color: white;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px; }
    .textbutton:hover {
      padding-left: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
      text-decoration: none;
      color: black;
      background-color: white;
      border: 3px solid white; }

  .colorsimbolo {
    text-decoration: none;
    color: white;
    padding-right: 5px;
    font-size: 8pt; }
    .colorsimbolo {
      text-decoration: none;
      color: white; }

  .contaico {
    padding: 10px; }

  .marg2 {
    margin-left: 25%; } }
@media (min-width: 1366px) {
  .headerini {
    background-image: url(../imagenes/inicio.png);
    background-size: cover;
    min-height: 672px; }

  .botton-u {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 32.5px;
    margin-left: 20px; }
    .botton-u i {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: #be983e; }
    .botton-u i:hover {
      color: white; }

  #navbarSupportedContent {
    position: absolute;
    left: 10%;
    top: 0.1%; }

  .pull-right {
    float: right; }

  .inscribir {
    background-color: #be983e;
    border: 2px solid #ccb434;
    padding-right: 15px;
    padding-left: 15px; }

  .padtop {
    padding-top: 0.5rem; }

  .menu-movile {
    display: none; }

  .botton {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    height: 30px;
    width: 36px;
    top: 32.5px;
    margin-left: 54px; }
    .botton i {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      color: white; }
    .botton i:hover {
      color: #be983e; }

  .navpc {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 22px 12px;
    z-index: 2;
    letter-spacing: 2px; }
    .navpc li a {
      padding-right: 0px;
      color: white; }
    .navpc li a:hover {
      padding-right: 0px;
      color: #be983e; }
    .navpc li.inscribir a:hover {
      color: black;
      text-decoration: none; }

  .allbuttom a {
    padding-left: 25px; }

  div#portadasMenu {
    min-height: 90px; }

  a.logo img {
    width: 100px; }

  .barmax {
    align-items: center; }

  .bottonU {
    position: absolute;
    height: 100%;
    width: 100%; }

  .bigimagen {
    margin-top: 170px;
    text-align: center; }

  .imgposition {
    width: 270px; }

  .position {
    padding: 10px; }

  .positionform {
    margin-top: 50px; }

  input[type="text"] {
    opacity: 0.6;
    border-radius: 0px !important; }

  button[type="submit"] {
    background-color: white;
    color: #2f2f2f;
    font-weight: 400;
    border-radius: 0px; }
    button[type="submit"]:hover {
      background-color: colorDarkHover;
      color: white;
      font-weight: 400; }

  .cabezera {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-right: 1.2rem; }

  .cabezera .cerrado {
    padding: 0rem;
    margin: -1rem -1rem -1rem auto; }

  button.cerrado {
    background-color: black;
    border: 0;
    padding: 0px;
    color: white;
    width: 20px;
    height: 20px; }

  .stilod {
    color: #be983e;
    letter-spacing: 0.22rem;
    font-size: 30px !important;
    font-weight: 400; }

  .stilopd {
    color: #202020 !important;
    letter-spacing: .1rem;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
    padding-left: 55px !important;
    padding-right: 55px !important; }

  .colum-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%; }

  .colum2-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 5px;
    flex: 0 0 50%;
    max-width: 50%; }

  .inputsd {
    background-color: #d1d1d1;
    border: 0px;
    padding-left: 27px;
    font-weight: 400;
    position: relative;
    color: #595959 !important; }

  .butttond {
    background-color: #be983e !important;
    color: white !important;
    position: relative !important;
    width: 114px;
    height: 47px;
    margin-bottom: 1.2rem; }

  a.linkdial {
    color: black;
    text-decoration: underline; }

  .anchod {
    width: 645.33px; }

  .dimensiond {
    height: 125px; }

  .sph {
    height: 0px; }

  .desplegable {
    position: fixed;
    height: 626px;
    width: 317px;
    right: -418px;
    background-color: black;
    z-index: 9999999;
    transition: .3s ease;
    top: 0;
    overflow-y: scroll; }

  .mostrar {
    right: -18px; }

  .icon {
    margin: 0 8px; }

  .icon a {
    border: 1px solid #717171;
    background-color: #717171;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    border-radius: 50%;
    color: black; }
    .icon a:hover {
      border: 1px solid white;
      background-color: white;
      color: black; }

  .texto {
    color: #717171;
    text-align: justify;
    padding: 25px; }

  .pad {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .pad2 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px; }

  .color {
    color: white; }

  .textlink {
    text-decoration: none;
    color: #717171;
    padding-left: 5px; }
    .textlink:hover {
      text-decoration: none;
      color: #717171;
      padding-left: 5px; }

  .textbutton {
    text-decoration: none;
    border: 3px solid white;
    color: white;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px; }
    .textbutton:hover {
      padding-left: 10px;
      padding-top: 1px;
      padding-bottom: 1px;
      text-decoration: none;
      color: black;
      background-color: white;
      border: 3px solid white; }

  .colorsimbolo {
    text-decoration: none;
    color: white;
    padding-right: 5px;
    font-size: 8pt; }
    .colorsimbolo {
      text-decoration: none;
      color: white; }

  .imagen_negro {
    width: 143px;
    position: relative;
    left: 20%; }

  .espacios {
    padding: 25px; }

  .contaico {
    padding: 10px; }

  .marg2 {
    margin-left: 25%; } }

/*# sourceMappingURL=stiloheader.css.map */
