.testimonio {
  min-height: 528px;
  background-color: #CBA851; }

footer {
  min-height: 279px; }

.titulotest {
  font-size: 1.938rem;
  line-height: 1.99875rem;
  letter-spacing: 0.22rem;
  color: white;
  padding-top: 88px;
  padding-bottom: 65px; }

.media-object {
  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: table-cell;
  background-image: url(../imagenes/integrante.jpg);
  background-size: inherit;
  background-position: -150px -10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.titmember {
  font-size: 0.875rem;
  line-height: 1.579375rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  color: white;
  padding-top: 41px;
  padding-bottom: 20px; }

.contmember {
  font-size: 0.93875rem;
  line-height: 1.579375rem;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: 300;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 63px; }

.carousel-indicators li {
  border-radius: 100% !important;
  height: 12px !important;
  width: 12px !important; }

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.2) !important; }

.direcciones {
  padding-top: 106px;
  display: grid; }

a.addressinv {
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
  font-size: 0.875rem;
  line-height: 2.25rem; }
  a.addressinv:hover {
    text-decoration: none; }

.social {
  text-align: center;
  color: black; }
  .social a {
    color: black;
    padding-right: 16px;
    padding-left: 16px; }
  .social a:hover {
    color: #ccb434; }

.logo {
  text-align: center; }

.logo img {
  padding-top: 73px;
  padding-bottom: 24px;
  width: 100px; }

.copyright {
  text-align: center;
  padding-top: 30px; }
  .copyright p {
    font-size: 0.78125rem;
    color: #b1b1b1;
    line-height: 1.095rem; }

.terminos {
  text-align: right;
  position: relative;
  padding-top: 65%; }
  .terminos p {
    color: #be983e;
    font-size: 0.875rem;
    line-height: 1.095rem;
    text-decoration: underline; }

@media (max-width: 480px) {
  .contmember {
    padding-left: 15%;
    padding-right: 15%; } }
@media (max-width: 768px) {
  .terminos {
    text-align: center;
    position: relative;
    padding-top: 15%; }

  .direcciones {
    text-align: center; }

  .social a {
    padding-right: 16px !important;
    padding-left: 16px !important; } }
@media (max-width: 1024px) {
  .social a {
    padding-right: 6px;
    padding-left: 6px; } }

/*# sourceMappingURL=testimoniofooter.css.map */
