$colorUsuario: #be983e;
$colorblanco: hsl(0,100,100);
$borderGold: #ccb434;
$colorNegro: hsl(0,100,0);
$colorDarkHover: #2f2f2f; 
$colorInputs: #d1d1d1;
$colorGray: #717171;
$colorYellinvex: #cba851;
$colorSycamore: #A08C41;
$colorDustgray: #9D9B9B;
$colorBoulder: #747474;
$colorRoti: #CBA851;
$colorSilver: #b1b1b1;
$colorTerminos: #be983e;