@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";
@import "regular.scss";
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Lato');

.font-menu{
    font-family: "Hind", sans-serif;
    font-size: 13px;
}
.font-titulo{
    font-family: "Hind", sans-serif;
    font-size: 16px;
}
.font-titulo-hacemos{
    font-family: "Hind", sans-serif;
    font-size: 1.875rem;
}
.font-sub-hacemos{
     font-family: "Hind", sans-serif;
    font-size: 1.375rem;
}
.font-hind{
    font-family: "Hind", sans-serif;
}
.font-cursos{
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}
.font-lato-regular{
    font-family: 'Lato', sans-serif;
}