@import "colores.scss";


.black{
    min-height: 489px;
    background-color: $colorNegro;
    border-bottom: 4px solid $colorSycamore;
    & p.titulo{
        padding-top: 203px;
        color: #be983e;
        font-size: 1.86rem;
        line-height: 1.95rem;
        letter-spacing: 0.22rem;
    }
}
.white{
    min-height: 540px;
    position: relative;

}
#post1,#post2,#post3{
    background-color: $colorblanco;
}
.boxshadow{
    box-shadow: 0px 5px 25px 0px rgba(46, 61, 73, 0.2);
}
.imagenart{
       margin: 20px;
       overflow: hidden;

    & .imagen1{
   /* background-image: url("../imagenes/article1.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;*/
        padding-top: 20px;
}
    & .imagen2{
 /*   background-image: url("../imagenes/article2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;*/
        padding-top: 20px;
}
    & .imagen3{
  /*  background-image: url("../imagenes/article3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;*/
        max-width: none;
        padding-top: 20px;
        position: relative;
        left: -30%;
        height: 360px;
}
    
}

.articles{
    position: absolute;
    top:-25%;
    margin-right: 0px!important;
    margin-left: 0px!important;
    padding-bottom: 100px;
}
.article1,.article2,.article3{
    max-width: 30%;
}

.headertitulo{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
}

.artcontent{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    color: $colorBoulder;
}
.contentart{
    padding: 18px;
}
a.dateart{
    padding-right: 35px;
}
.footerart{
    font-weight: 400;
    font-size: 0.63375rem;
    line-height: 1.90125rem;
    text-decoration: none;
    color: $colorDustgray;
       
}

@media(max-width:480px){
    
    
}
@media(max-width:768px){
    .white{
        height: 100%;
    }
    .container{
        max-width: inherit;
    }
    .articles{
        display: inline-block;
        top: 0px;
        position: inherit;
    }
    .article1,.article2,.article3{
     max-width: 100%;
}
    .imagenart{
        
        & .imagen1{
             width: 100%;
        }
        & .imagen2{
            width: 100%;
        }
        & .imagen3{
            position: inherit;
            width: 100%;
            height: 100%;
        }
        
    }    
    
}
@media(max-width:1024px){
  
   
}
@media(min-width:1366px){
   
    
}