@import "colores.scss";
//---------------  Testimonios -------------------------------------------------
.testimonio{
    min-height: 528px;
    background-color: $colorRoti;
}
footer{
    min-height: 279px;
}

.titulotest{
    font-size: 1.938rem;
    line-height: 1.99875rem;
    letter-spacing: 0.22rem;
    color: $colorblanco;
    padding-top: 88px;
    padding-bottom: 65px;
}
.media-object{
    border-radius: 100%;
    height: 55px;
    width: 55px;
    display: table-cell;
    background-image: url(../imagenes/integrante.jpg);
    background-size: inherit;
    background-position:-150px -10px; 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titmember{
    font-size: 0.875rem;
    line-height: 1.579375rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: $colorblanco;
    padding-top: 41px;
    padding-bottom: 20px;
}
.contmember{
    font-size: 0.93875rem;
    line-height: 1.579375rem;
    letter-spacing: 0.05rem;
    color: $colorblanco;
    font-weight: 300;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 63px;
}
.carousel-indicators li{
    border-radius: 100%!important;
    height: 12px!important;
    width: 12px!important;
}
.carousel-indicators .active{
        background-color: rgba(0,0,0,0.2)!important;
}

//------------ Footer -------------------------------------------------

.direcciones{
    padding-top: 106px;
    display: grid;
}
a.addressinv{
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: $colorNegro;
    padding-bottom: 20px;
    font-size: 0.875rem;
    line-height: 2.25rem;
    &:hover{
        text-decoration: none;
    }
}
.social{
    text-align: center;
    color: $colorNegro;
    & a{
        color: $colorNegro;
        padding-right: 16px;
        padding-left: 16px;
    }
    & a:hover{
        color:$borderGold;
    }
}
.logo{
    text-align: center;
}
.logo img{
   padding-top: 73px;
   padding-bottom: 24px; 
   width: 100px;
}
.copyright{
    text-align: center;
    padding-top: 30px;
    & p{
        font-size: 0.78125rem;
        color: $colorSilver;
        line-height: 1.095rem;
    }
}
.terminos{
    text-align: right;
    position: relative;
    padding-top: 65%;
    p{
        color: $colorTerminos;
        font-size: 0.875rem;
        line-height: 1.095rem;
        text-decoration: underline;
    }
}

@media(max-width:480px){
    .contmember{
    
    padding-left: 15%;
    padding-right: 15%;
    
}
    
}
@media(max-width:768px){
    .terminos{
        text-align: center;
        position: relative;
        padding-top: 15%;
    }
    .direcciones{
        text-align: center;
    }
   .social{
     & a{
        padding-right: 16px!important;
        padding-left: 16px!important;
     }
     }
}

@media(max-width:1024px){
   .social{
     & a{
        padding-right: 6px;
        padding-left: 6px;
     }
     }
}
@media(min-width:1366px){
   
    
}