@import "colores.scss";
.video{
    min-height: 851px;
    & p{
        font-size: 1.18rem;
        line-height: 1.99rem;
        letter-spacing: 0.05rem;
        color: #363636;
    }
   
}
.video-index{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 800px;
}
.padvideo{
    padding-top: 224px;
    padding-bottom: 65px;
}
.titulo.vid{
    padding-bottom: 13px;
    font-weight: 700;
}
.subtitulo.vid{
    padding-top: 29px;
    font-weight: 500;
}
.container-video{
    height: 513px;
    max-width: 794px;
    background-image: url("../imagenes/MacBook.png");
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 37px 27px 15px 27px;
    background-size: cover;
    box-shadow: 0px 0px 0px 3px #b5b5b5;
  //  left: 15%;
}

@media(max-width:480px){
     iframe{
       
        height: auto;
    }
    
}
@media(max-width:768px){
    .video-index{
        width: 100%;
    }
    .container-video{
        height: auto;
    }
    iframe{
        width: 100%;
        height: 315;
    }
}
@media(max-width:1024px){
  
    iframe{
        width: 100%;
    }
}
@media(min-width:1366px){
   
    
}